@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-border-default: 255, 255, 255, 0.2;
    --scrollbar-width: 0.1rem;
    
    /* Light theme variables */
    --primary: 0 0% 98%;
    --primary-foreground: 240 10% 3.9%;
    --primary-accent: 240 5% 10%;
    --background: 0 0% 100%;
    --background-secondary: 240 5% 95%;
    --secondary: 240 6% 10%;
    --border: 240 5% 85%;
    --accent: 240 5% 90%;
    --muted: 240 5% 65%;
  }

  .dark {
    /* Dark theme variables */
    --primary: 0 0% 98%;
    --primary-foreground: 240 10% 3.9%;
    --primary-accent: 240 5% 10%;
    --background: 240 10% 7%;
    --background-secondary: 240 5% 16%;
    --secondary: 0 0% 96%;
    --border: 240 5% 26%;
    --accent: 240 5% 16%;
    --muted: 240 5% 65%;
    --color-border-default: 255, 255, 255, 0.2;
  }

  :root {
    --color-border-default: 0, 0, 0, 0.2;
  }

  body {
    @apply bg-background/80 text-secondary;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  @apply bg-border;
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

/* Hide scrollbar utility class */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
